.scrolWrapper{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  overflow: auto;
  height: auto;
  height: calc(100vh -150px);
}

.cardArea{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  grid-gap:30px
}

.cardAreaColumn{
  flex: 1 ;
  border-radius: 3px;
  padding:  20px;
  align-items: center;
  position: relative;

}